// colors

$olivine: #9AC488;
$seagull: #81C5E7;
$emperor: #515151;
$mine-shaft: #3D3D3D;

// typography colors

$white: #fff;
$black: #000;
$dove-gray: #696969;
$tom-thumb: #3F5532;


// breakpoints

$bp-mobile: 400px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-huge: 1200px;

$bps: (
    'mobile': $bp-mobile,
    'tablet': $bp-tablet,
    'desktop': $bp-desktop,
    'huge': $bp-huge

);

//font size rem

$base-font-size: 16px;