.header-main {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    position: fixed;
    width: 100%;
    z-index: 1001;

    @include from (desktop) {
        align-items: center;
        background: $white;
        height: 140px;
        justify-content: space-between;
        position: fixed;
        text-align: end;
        top: 0;
        width: 100%;
    }

    &__icon {

        @include from (desktop) {
            display: none;
        }

        &--hamburger-menu {
            max-width: 20px;
            width: 100%;
        }
    }

    &__brand {

        &--white {
            max-width: 130px;
            width: 100%;

            @include from (desktop) {
                display: none;
            }
        }
        &--color {
            display: none;
            max-width: 220px;
            width: 100%;

            @include from (desktop) {
                display: inline-block;
            }
        }
    }

    &__navegation {

        @include from (desktop) {
            width: 100%;
            
        }

        .language {

            @include from (desktop) {
                margin-top: -30px;
                padding-bottom: 18px;
            }

            a {
                @include from (desktop) {
                    color: $olivine;
                }
            }
            
        }

        .menu {
            align-items: center;
            background: $emperor;
            box-shadow: 5px 0px 5px 0px rgba($black,0.8);
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: space-evenly;
            left: 0;
            padding: 0 20px;
            position: absolute;
            text-align: center;
            top: 0;
            transform: translateX(-135%);
            transition: all ease .4s;
            width: 75vw;
            z-index: 1000;

            @include from (desktop) {
                align-items: flex-end;
                background: none;
                box-shadow: initial;
                flex-direction: column;
                height: initial;
                padding: initial;
                position: initial;
                transform: translateX(0);
                width: 100%;
            }

            &__list {
                li {
                    &:not(:last-child) {
                        margin-bottom: 33px;
                        
                        @include from (desktop) {
                            margin-bottom: initial;

                            &:not(:last-child) {
                                margin-right: 30px;
                            }
                        }
                    }
                }

                @include from (desktop) {
                    align-items: center;
                    display: flex;
                }
            }

            &__link {
                
            }


            &::after {
                background: rgba($emperor, .7);
                content: "";
                height: 100vh;
                position: absolute;
                right: -35%;
                top: 0;
                width: 100vw;
                z-index: -1;

                @include from (desktop) {
                    content: initial;
                }
            }

            &__close {
                margin: 17px;
                max-width: 20px;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;

                @include from (desktop) {
                    display: none;
                }
            }

            .social-media {
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;

                @include from (desktop) {
                    display: none;
                }

                &__icon {
                    align-items: center;
                    border-radius: 50%;
                    border: 2px solid $white;
                    display: flex;
                    height: 40px;
                    justify-content: center;
                    width: 40px;

                    &:not(:last-child) {
                        margin-right: 35px;
                    }

                    img {
                        max-height: 14px;
                    }
                }
            }

            
        }
    }
}
.active-menu {
    transform: translateX(0)!important;
    }