.btn {
    align-items: center;
    background: green;
    border-radius: 6.88px;
    display: flex;
    justify-content: center;

    &__header {
        height: 100%;
        max-height: 44px;
        max-width: 150px;
        width: 100%;
        
        @include from (desktop) {
            padding: 18px;
        }

        a {
            color: $white;
            font-family: FuturaLT Bold;
            letter-spacing: 2px; 
        }

        &--green {
            background: $olivine;
        }
        &--blue {
            background: $seagull;
        }
    }
}