
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.heading-header {
    a {
        color: $white;
        font-family: FuturaLT;
        @include font-size (14px);
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}
