.hero {
    align-items: center;
    background-image: linear-gradient(to right, rgba($mine-shaft, .5)), url("../../img/portada.jpg");
    background-position: top top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 100px;
    text-align: center;

    @include from (desktop) {
        height: 50vh;
        margin-top: 140px;
        padding-top: initial;
        padding-bottom: initial;
    }
}

.varieties {
    background-image: linear-gradient(to right, rgba($white, .9)), url("../../img/portada-variedades.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 50px;

    @include from (desktop) {
        padding-bottom: 100px;
    }

    .variety {

        &__front-side {
            position: relative;
        }

        &__back-side {
            align-items: center;
            background: rgba($black, .7);
            border: 1px solid $white;
            display: flex;
            height: 90%;
            justify-content: center;
            left: 50%;
            opacity: 0;
            padding: 8px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all ease .5s;
            width:90%;

            &:hover {
                opacity: 1;
            }

            &--hover {
                border: 1px solid $white;
                padding: 10px 12px;
            }
        }
    } 
}

.philosophy {
    background-image: linear-gradient(to right, rgba($emperor, .6)), url("../../img/insumos.jpg");
    background-position: 30% center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 20px;

    @include from (desktop) {
        padding-bottom: 60px;
        padding-top: 60px;
        padding-left: 50%;
        background-position: center center;
    }

    &__paragraph {
        color: $white;
        padding: 15px 0;
        width: 80%;

        @include from (tablet) {
            width: 50%;
        }
        @include from (desktop) {
            padding: 30px 0;
            width: 100%;
        }
    }
}

.publications{
    margin-bottom: 60px;
    
    .publication {
        margin-bottom: 50px;

        &__paragraph {
            padding-bottom: 20px;
        }
    }
}

.contact-footer {
    background: $olivine;
    display: block;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;

    @include from (tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @include from (desktop) {
        grid-gap: 125px;
    }

    &__map {
        
        img {
            max-width: 180px;
            width: 100%;

            @include from (mobile) {
                max-width: 240px;
            }
            @include from (desktop) {
                max-width: 320px;
            }
        }
    }

    &__container {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        padding: 30px 0;
        width: 100%;
        

        @include from (mobile) {
            max-width: 240px;
        }
        @include from (tablet) {
            max-width: none;
            padding: initial;
            width: initial;
        }

        .contact-list {
            align-items: center;
            display: flex;
            text-align: left;

            &:not(:last-child) {
                padding-bottom: 20px;
            }

            &--icon {
                padding-right: 27px;

                img {
                    max-width: 27px;
                    width: 100%;

                    @include from (desktop) {
                        max-width: initial;
                        width: 40px;
                    }
                }
            }
        }
    }

    .social-media-footer {

        &__container {
            padding-top: 30px;

            @include from (tablet) {
                width: 100%;
            }

            a {
                &:not(:last-child) {
                    padding-right: 27px;
                }
            }
            &--icon {
                max-width: 27px;
                width: 100%;

                &:not(:last-child) {
                    padding-right: 27px;
                }

                @include from (desktop) {
                    max-width: 40px;
                }
            }
        }
    }
}